.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: none;
}

img.displaySlide {
  display: block;
}

a {
  color: amber;
}

body {
  font-family: Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  text-align: center;
}

h1 {
  color: red;
  font-weight: bold;
  text-align: center;
}

p {
  color: white;
}

button {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 1rem 2rem;
  position: relative;
  transition: transform 0.1s linear, box-shadow 0.1s 1;
  z-index: 10;
}

button:hover {
  background-color: purple; /* Change button background color on hover */
}

button:active {
  transform: translate(4px, 4px);
  box-shadow: 0 0 0 rebeccapurple;
}

button:focus {
  outline: none;
}

.particle {
  --x: 0;
  --y: 0;
  background-color: rebeccapurple;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5px;
  width: 5px;
  z-index: -1;
}

.particle.move {
  animation: move 1000ms linear forwards;
}

@keyframes move {
  to {
    transform: translate(var(--x), var(--y));
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
