
a {
  color: amber;
}

body {
  font-family: Verdana, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  text-align: center;
}


h1 {
  color: red;
  font-weight: bold;
  text-align: center;
}


p {
  color: white;
}

